* {
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    transition: all ease 0.5s;
}

/*  #eb8634 */

/* CSS variables */
:root {
    --theme-color: black;
    --gradient: linear-gradient(90deg, rgba(251,125,6,1) 22%, rgba(54,52,55,1) 49%);
}


img {
    animation: opac 1s;
}


/* loader */
.loader {
    margin:0;
    padding:0;
    display: flex;
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    z-index: 20;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: #fff;
}

.loader svg {
    width: 100px;
    height:100px;
}

.loader svg rect {
    width: 100px;
    height:100px;
    fill: none;
    stroke-width: 100px;
    stroke: orangered;
    stroke-dasharray: 100;
    stroke-dashoffset: 50%;
    animation: loaderanimation 2s linear infinite;
}

@keyframes loaderanimation {
    to {
        stroke-dashoffset: 250%;
    }
}


/* Common Styling */
.heading-style {
    text-align: center;
    /* text-decoration:wavy; */
    /* text-decoration-color: var(--theme-color); */
    color: black;
    background: white;
    font-size: xx-large;
    border: 2px solid var(--theme-color);
    padding: 20px;
    margin:5px;
}

.magic {
    color: orangered;
}

.paragraph-style {
    font-size:medium;
    color:black;
}

#AboutPage, #ContactFormPage, #CertificatePage {
    display: none;
}


/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--gradient); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: yellow; 
}







/* Menu Section */

nav .menu {
    background:var(--theme-color);
    color:#fff;
    width:100%;
    padding: 2px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
    z-index: 10;
    position: Fixed;
    top:0;
    -webkit-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
}

nav .menu .menu-logo {
    margin:10px;
}

nav .menu .list-items {
    width:80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10px;
    margin:10px;
    list-style-type: none;
}

nav .menu .list-items li {
    cursor: pointer;
    font-size: medium;
    transition: ease 0.5s;
}

nav .menu .list-items li:hover{
    color: orangered;
}

nav .menu .menu-button {
    display: none;
}


/* new changes applied removed margin */
/* hamburger menu */
.hamburger-menu {
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    display: none;
    font-size:x-large;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: var(--theme-color);
    color:white;
    z-index:10;
    animation: shutter 0.4s;
}

.hamburger-menu li {
    cursor: pointer;
    width: 100%;
    text-align: right;
    padding: 1.5rem;
    list-style: none;
    transition: ease 0.5s;
    animation: opac 1s;
}

.hamburger-menu li:hover{
    background: var(--gradient);
}


.menu-dropdown-links {
    display: none;
    position:fixed;
    top:10%;
    left:45%;
    z-index:10;
    padding:2rem;
    width:350px;
    border-radius: 20px;
    background-color: white;
    animation: opac 0.5s;
}

.show {
    display: block;
}

.menu-dropdown-links li {
    list-style: none;
    margin:10px;
    padding: 1rem;
    border-radius: 5px;
    transition: all ease 0.1s;
}

.menu-dropdown-links li a:hover{
    color: orangered;  
    /* padding: 1rem; */
}

.menu-dropdown-links a {
    text-decoration: none;
}

.menu-dropdown-links li a {
    color:black;
}


.hamburger-menu-dropdown-links {
    display: none;
    font-size: medium;
    animation: shutter 0.5s;
}

.hamburger-menu-dropdown-links a {
    color:white;
    text-decoration: none;
}






/* new changes applied */
/* Intro Section */

.intro {
    margin:2px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    background-repeat: no-repeat;
    background-image: url("images/intro.jpg");
    background-size: cover;
    padding: 1rem;
    margin-top: 5%;
}

.intro video {
    width: 40%;
}

.intro-text {
    background: rgba(0,0,0,0.75);
    width: 100%;
    font-family: 'Roboto';
    height: 90vh;
    padding: 5rem;
    color: white;
}

.intro-text img {
    background: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    border-radius: 20px;
}

.intro-text h1 {
    width:50%;
}




/* Banner section */

.banner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 100px;
}

.banner-paragraph {
    width: 50%;
    margin: 10px;
    padding:10px;
    font-size: larger;
}

.banner-paragraph p {
    color: black;
}


/* Our Mission */
.our-mission .container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3rem;
}

.paragraph-container {
    width: 50%;
}




/* Video Section */
.video-container {
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--theme-color);
}

.video-container ul li {
    color: orangered;
}

.video-container video {
    border-radius: 20px;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px orangered;
    -moz-box-shadow: 10px 10px 5px 0px orangered;
    box-shadow: 10px 10px 5px 0px orangered;
}

.video-class h2 {
    /* display: flex; */
    color: whitesmoke;
    padding: 5rem;
    justify-content: center;
    align-items: center;
}

.video-class h2 span {
    color: white;
    margin:10px;
}



/* client card section */

.client-card-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--gradient);
    padding: 20px;
    flex-wrap: wrap;
}

.client-card-button {
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    color:black;
    border-radius: 20px;
    background-color: transparent;
}

.client-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    border-radius: 25px;
    color: var(--theme-color);
    background: #fff;
    padding: 50px;
    -webkit-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    transition: ease 0.5s;
    overflow: hidden;
}

.client-card:hover {
    cursor:pointer;
    transform: scaleX(1.1);
}

.self-modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: var(--theme-color);
    animation: opac 0.5s;    
}

.self-modal-card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-evenly;
    padding:2%;
    position: fixed;
    top:12%;
    bottom:2%;
    left:2%;
    right:2%;
    text-align: center;
    margin:auto;
    border-radius: 20px;
    background-color: aliceblue;
    animation: opac 0.5s;
}

.self-modal-card button {
    margin-left:85%;
    width:50px;
}

.author {
    text-align: end;
}


.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer1; }

.item1 img, .item2 img, .item3 img, .item4 img,
.item5 img {
    width:100%;
}

.grid-container {
display: grid;
grid-template-areas:
    'header header header header header header'
    'menu menu main main right right'
    'menu menu footer1 footer1 footer1 footer1';
gap: 10px;
background-color: var(--theme-color);
padding: 10px;
}

.grid-container > div {
background-color: rgba(255, 255, 255, 0.8);
text-align: center;
padding: 20px 0;
font-size: 30px;
}




/* services section */
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.services h3 {
    color: white;
}

.services-card {
    background: var(--gradient);
    width: 100%;
    text-align: center;
    padding: 3rem 1rem;
    border: 1px solid white;
    border-radius: 20px;
}


.services-card img {
    width: 200px;
    margin:1rem;
}

.services-card-inner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.services-card .service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    list-style: none;
    width: 350px;
    background-color: #f1f1f1;
    border-radius: 20px;
    margin: 20px 0px;
    padding: 1rem;
    -webkit-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
}


.services-card .service-card img {
    margin:auto;
    width: 300px
}

.services-card .service-card:hover, .services-card .service-card:hover .my_button{
    cursor:pointer;
    color:#fff;
    border: 2px solid #fff;
    background-color: var(--theme-color);
}

.service-page-link {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.service-page-link:hover {
    color: orangered;
    text-decoration: none;
}

.my_button {
    width: 100%;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}


/* new change */
.google-map {
    padding-bottom: 50%;
    height: 100vh;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}


/* About Us page */
.about-us-section {
    text-align: center;
    padding: 3rem;
}


/* Certificate Page */
#CertificatePage {
    text-align: center;
}

#CertificatePage div {
    padding: 2rem;
}

.certificate-images {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.certificate-images img {
    border: 5px solid var(--theme-color);
}


/* Contact Form */
.contactform-container {
    background-color: var(--theme-color);
    padding: 2rem;
}


form {
    display: flex;
    padding: 3rem 0rem;
    border-radius: 20px;
    flex-direction: column;
    background-color: white;
    width: 80%;
    margin: auto;
}

form input, form textarea {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid black;
    border-radius: 5px;
}


form textarea {
    min-height: 300px;
}

form button {
    padding: 2rem;
}



/* Footer */
footer {
    display: block;
    text-align: center;
    color:white
}

.footer-social-links-container {
    background-color: black;
    color:#f1f1f1;
    padding:2rem;
    text-align: center;
}

.footer-social-links {
    margin:auto;
    padding: 2rem;
}

.footer-information-container {
    background-color: rgb(54, 53, 53);
    padding: 2rem;
}

.footer-information-container .important-links li {
    list-style: none;
    padding: 0.5rem;
    border-radius: 20px;
    width: 50%;
    margin: auto;
}

.footer-information-container .important-links li:hover {
    cursor:pointer;
    background-color: var(--theme-color);
    animation: opac 0.5s;
}

.footer-information-container .important-links p {
    text-decoration: none;
}

.footer-credits {
    background-color: rgb(20, 19, 19);
    padding: 2rem;
}

/* footer icons */
.fa-facebook , .fa-twitter, .fa-instagram, .fa-whatsapp, .fa-linkedin{
    background: var(--theme-color);
    font-size: 2rem;
    /* padding: 1rem; */
    margin:0.5rem;
    color: white;
}

.fa-facebook:hover , .fa-twitter:hover, .fa-instagram:hover, .fa-whatsapp:hover, .fa-linkedin:hover {
    opacity: 0.4;
    text-decoration: none;
}



@keyframes opac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes shutter {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}




/* New Change added sections */

/* changes in 
    maps height
    intro whole change
    padding reduced
    form padding reduced
    added buttons in cards
    added one more button for closing card.
    links width increased
    addded information section
    footer added whatsapp link and adresses for all links.
    made a new info card.
 */
.information-container-section-1, .information-container-section-2 {
    padding: 2rem;
    width: 50%;
    margin: auto;
}

.information-container-section-2-image {
    display: flex;
    margin: 10px auto;
}

.information-container-section-2-image img {
    border-radius: 20px;
}

.info-card {
    display: none;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    align-items: center;
    position: fixed;
    top:12%;
    bottom:2%;
    left:2%;
    right: 2%;
    background-color: aliceblue;
    animation: opac 0.5s;
    -webkit-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 7px 9px 8px -5px rgba(0,0,0,0.75);
}

.info-card h3, .info-card div, 
.info-card button, .info-card img {
    animation: opac 1s;
    width: 100%;
}

.info-card h3 {
    text-align: center;
}

.info-card button {
    width: 50px;
    margin-left: 85%;
    margin-bottom:10px;
}

.info-card img {
    width: 200px;
}

.info-card-body {
    overflow-y: scroll;
    padding: 4rem;
}







/* Mobile Responsive */
@media screen and (max-width: 1000px) {
nav .menu .list-items {
    display: none;
}

nav .menu .menu-button {
    display: block;
}

.intro {
    display: block;
    padding: 3rem 0rem;
}

.intro video {
    width: 100%;
}

.banner {
    display: block;
}

.banner img {
    width: 100%;
}

.banner .banner-paragraph {
    width: 100%;
}

.our-mission .container {
    display: block;
}

.our-mission .container div img {
    width: 100%;
}

.our-mission .container .paragraph-container {
    width:100%;
}

.video-container {
    display: block;
}

.video-container video {
    width:100%;
}

.certificate-images  {
    width: 100%;
    display: block;
    margin:auto
}

.certificate-images img {
    width: 100%;
}


/* new changes */
.video-class h2, .banner-paragraph, .banner {
    padding:1rem;
}

form {
    width:100%;
}

.information-container-section-1, .information-container-section-2 {
    width: 100%;
}

.info-card-body {
    padding: 1rem;
}

}









